/* CSS RESET TOOL */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





:root {

    /* COLOR THEME */

    --light-blue: #0D8DFB;
    --lightest-blue: #2699FB;
    --blue: #2104D9;
    --navy: #030A8C;
    --dark-navy: #020873;
    --darkest-navy: #020659;
    --purple: #590242;
    --white: #FFFFFF;
    --gray: #c9c9c9;

    /* FONT STACK */
    --font: Verdana, Geneva, Tahoma, sans-serf;

}

/* BODY STYLES */
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "nav"
        "header"
        "main"
        "footer";
    width: 375px;
    margin: 0 auto;
    background-color: var(--darkest-navy);
    font-family: var(--font);
    line-height: 1.2em;
    color: var(--white);
}
/* LINK A STYLES */
a{
	text-decoration: none;
	color: var(--wht);
	padding: 1.5rem;
}
/* HEADER STYLES */
header {
    grid-area: header;
    width: 100%;
}
#smoothjazz {
    background-image: linear-gradient(to right, var(--navy) , black);
}
/* MENU STYLES */
nav {
    width:375px;
    background-color: var(--navy);
    text-transform: uppercase;
}
nav ul {
    text-align:center;
    margin:0;
    padding:0;
    list-style:none;
    overflow:hidden;
    max-height:0;
    transition: max-height .2s ease-out;
}
nav h2 {
    visibility:hidden;
    height:1px;
}
nav li a {
    display:block;
    padding:20px 20px;
    text-decoration:none;
    color:var(--white);
}
nav a:hover, nav input:hover {
    background-color: var(--purple);
}
nav label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display:none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}


/* TEXT STUFF */
h1,  h2, h3{
    text-transform: uppercase;
    font-weight: bold;
}
h1 {
    font-size: 1.25em;
    padding: 1rem;
}
div h3{
    position: relative;
    bottom: 7px;
}
/* P STYLES */
p {
    padding: 0 1rem 1rem 1rem;
    font-size: 1rem;
}
/* MAIN STYLES */
main {
    grid-area: main;
    background-color: var(--white);
    width: 375px;
    padding-bottom: 30px;
}

/* SECTION STYLES */
section h2{
    padding: 15px;
}

/* .SCROLL STYLES */
.scroll {   
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    overflow-y: hidden;

}
.scroll section {
    margin: 10px;
    position: relative;
}
.scroll div {
    position: absolute;
    top: 251px;
    background-color: rgba(255,255,255,.75);
    padding: 5px;
    height: 50px;
    width: 350px;
}
.scroll div dl {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    position: relative;
    bottom: 10px;
    
}
dl {
    display: flex;
    margin-bottom: 5px;
}
dt {
    padding-right: 5px;
}

audio {
    position: absolute;
    bottom: 150px;
    left: 5px;
}

/* TRENDING STYLES */
#trending section {
    display: flex;
    flex-direction: column;
    background-color: var(--gray);
    margin: 10px;
}
#trending div {
    order: 2;
    
}
#trending dt{
    color: var(--purple);
    display: inline;
    font-style: italic;
}
#trending dd {
    color: var(--purple)
}

/* AUDIO STYLES */
audio::-webkit-media-controls-mute-button {
    background-color: var(--white);
    border-radius: 50%;
}
audio::-webkit-media-controls-play-button {
    background-color: var(--white);
    border-radius: 50%;
}
audio::-webkit-media-controls-enclosure {
    background-color: rgba(255,255,255,.5);
}

/* TRENDING SCROLL STYLE */
#trending ::-webkit-scrollbar {
    width: 15px;
}
#trending ::-webkit-scrollbar-track {
    box-shadow: inset 0 0  15px var(--purple);
}
#trending ::-webkit-scrollbar-thumb {
    background: var(--purple);
    border-radius: 5px;
}
#trending ::-webkit-scrollbar-thumb:hover {
    background: var(--darkest-navy)
}


/* PLAYLISTS STYLES */
#playlists .scroll{
    background-color: var(--lightest-blue);
}
#playlists section {
    display: flex;
    flex-direction: column;
    background-color: var(--light-blue);
}
#playlists section img {
    order: 1;
    padding: 8px;
}
#playlists section p {
    order: 3;
    text-align: center;
    line-height: 1;
}
#playlists section h3{
    order: 2;
    text-align: center;
    color: var(--white);
    font-size: 1.1rem;
}

/* CURATED STYLES */
#curated .scroll{
    background-color: var(--navy)
}
#curated section{
    display: flex;
    flex-direction: column;
    background-color: var(--dark-navy);
}
#curated section img {
    order: 1;
    padding: 8px;
}
#curated section p{
    order: 3;
    text-align: center;
    line-height: 1;
}
#curated section h3{
    order: 2;
    text-align: center;
    color: var(--white);
    font-size: 1.1rem;
}

/* PLAYLISTS SCROLL STYLE */
#playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar {
    width: 15px;
}
#playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {
    box-shadow: inset 0 0  15px var(--darkest-navy);
}
#playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {
    background: var(--darkest-navy);
    border-radius: 5px;
}
#playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {
    background: var(--white)
}



/* H2 H3 STYLES */
h2, h3{
    font-size: 1rem;
    color: var(--purple);
    font-weight: bolder;
    text-transform: uppercase;
    display: block;
    
}
h2{
    color: var(--purple);
    margin-left: 15px;
}
section h2 {
    padding-top: 50px;
}
h3{
    padding: 10px;
}


/* SECTION A STYLES */

section a {
    display: inline-block;
    background-color: var(--purple);
    margin: 10px 10px 10px 30px;
    border-radius: 4px;
    padding: .5rem 1.5rem;
}
section a:hover {
    background-color: var(--darkest-navy);
}


/* FOOTER STYLES */
footer {
    grid-area: footer;
    background-color: var(--white);
    
}
footer p {
    font-size: .75em;
    padding-top: 50px;
    color: var(--purple);
    text-align: center;
}
small {
    color: var(--purple);
}



/* MEDIA QUERIES */
@media screen and (min-width: 834px) {
    body {
        width: 834px;
    }
    main {
        width: 834px;
    }
    section a {
        float: right;
    }
    .verticals {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .verticals #playlists {
        grid-column: 1;
    }
    .verticals #curated {
        grid-column: 2;
    }
    #playlists {
        grid-template-rows: repeat(5,1fr);
    }
    .verticals #playlists{
        display: grid;
        grid-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .verticals .scroll {   
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 1fr;
        overflow-x: auto;
        overflow-y: hidden;
        margin-top: 5px;
    }

}