/* CSS RESET TOOL */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* START OF BASE CSS */
:root {
    /* COLOR THEME */

    --lightest-blue: #0D8DFB;
    --light-blue: #2699FB;
    --blue: #2104D9;
    --navy: #030A8C;
    --dark-navy: #020873;
    --darkest-navy: #020659;
    --purple: #590242;
    --white: #FFFFFF;

}

/* BODY STYLES */
body {
    min-width: 375px;
    margin: 0 auto;
    background-color: var(--darkest-navy);
    font-family: Verdana, Geneva, Tahoma, sans-serf;
    line-height: 1.1;
    color: var(--white);
}

/* HEADER STYLES */
header {
    display: grid;
    grid-template-columns: 1fr;
}

/* NAV STYLES */



/* SECTION STYLES */

/* H1 STYLES */
h1 {
    font-size: 1.25em;
}
/* P STYLES */

/* MAIN STYLES */

/* SECTION STYLES */
/* H2 H3 STYLES */
h2, h3{
    font-size: 1em;
}
h2{
    color: var(--purple);
}

/* ARTICLE STYLES */
/* IMG STYLES */
/* AUDIO STYLES */
/* P STYLES */
p {
    font-size: 1em;
}

dd, dl{
    font-size: 1em;
}

dl {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

/* TRENDING SCROLL STYLE */
#trending ::-webkit-scrollbar {

}
#trending ::-webkit-scrollbar-track {

}
#trending ::-webkit-scrollbar-thumb {

}
#trending ::-webkit-scrollbar-thumb:hover {

}

/* PLAYLISTS SCROLL STYLE */
#playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar {

}
#playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {

}
#playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {

}
#playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {

}
/* SECTION A STYLES */

/* FOOTER STYLES */
footer {
    background-color: var(--white);
}
footer p {
    font-size: .75em;
    color: var(--purple);
}






/* MEDIA QUERIES */
@media screen and (min-width: 834px) {

}